<% include partials/header %>

<div class="container">

<div style="padding-top:100px;margin:0 auto;">

<div class="ui main text container segment">
  <div class="ui huge header">Edit Post</div>
<!-- ?_method=PUT  i.e. method over-riding to work this as put request -->

<form class="ui form" action="/blogs/<%=blog._id%>?_method=PUT" method="post">
  <div class="field">
    <label>Post Name</label>
    <input name="blog[title]" value="<%=blog.title%>" type="text">
  </div>
  <div class="field">
    <label>Image Url</label>
    <input name="blog[image]" value="<%=blog.image%>" type="text">
  </div>
  <div class="field">
    <label>description</label>
    <textarea name="blog[body]" placeholder="description" type="text"><%=blog.body%></textarea>
  </div>
  <div class="field">
    <select class="ui dropdown" name="blog[cat]">
  <option value="">Select Category</option>
  <option value="Education">Education</option>
  <option value="Sports">Sports</option>
    <option value="Movies">Movies</option>
      <option value="Design">Design</option>
        <option value="Fitness">Fitness</option>
          <option value="Writing">Writing</option>
            <option value="Songs">Songs</option>
              <option value="Bollywood">Bollywood</option>
                <option value="Music">Music</option>
</select>
  </div>
  <button class="ui button" type="Submit!" href="/blogs">Submit</button>
  <a href="/blogs">Go back</a>
</form>
</div>
</div>
</div>
<% include partials/footer %>
