
<% include partials/header %>


<div style="padding-top:100px;margin:0 auto;">
</div>

<div class="row">


<div class="col-md-2" style="padding-left:100px; margin:0 auto; ">


<div style="position: fixed; " >

<p class="lead" style="background:; "><i class="angle double right icon"></i>Feeds.. </p>
<div class="ui link list"  >
<h4><div class="item" ><a href="/">Top Stories</a></div></h4>

<a class="item">Answers  0</a>
<a class="item">Questions  0</a>
<a class="item">Followers  0</a>
<a class="item">Following  0</a>

</div>
</div>



</div>

<div class="ui main text container segment">
  <img class="ui small bordered image" style="display: block; margin-left: auto; margin-right: auto;" src="https://files.myglamm.com/images/static/no_user_yellow.png" >
  <div class="ui huge header" style="text-align:center;" ><h1><%= blog.author.fullname %></h1></div>
  <hr>
<p style="color:#a2a6ad;">
  <button class="ui basic button">
   <i class="user plus icon"></i>
  Follow
</button>
Followers 5   |  Following 2</p>



<table class="ui selectable celled table ">
  <thead>
    <tr>
      <th>username</th>

      <th class="right aligned"><%= blog.author.username %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Full-name</td>

      <td class="right aligned"><%= blog.author.fullname %></td>
    </tr>
    <tr>
      <td>Email-id</td>

      <td class="right aligned"><%= blog.author.email %></td>
    </tr>

  </tbody>
</table>
</div>
</div>
<% include partials/footer %>
